body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.buttons {
	border-radius: 50%;
}

#numbtn {
	background: #113c78;
	border: none;
	color: #f4f6f9;
}

#specbtn {
	background: #2061b0;
	border: none;
	color: #f4f6f9;
}

#opbtn {
	background: #3db5e5;
	border: none;
	color: #f4f6f9;
}
